.card {
    font-family: system-ui, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.3px;
    font-size: 1.1em; /* Adjusted for mobile */
}

p {
    font-family: system-ui, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.3px;
    font-size: 1em; /* Adjusted for mobile */
}